@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700&family=Sansita+Swashed&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    font-family: 'Fira sans', sans-serif;
    color: white;
}

h1 {
    color:#f56b9a;
    font-family: 'Sansita Swashed', sans-serif;
    font-size: 32px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 22px;
    font-weight: 600;
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

.button {
    width: 100%;
    border: none;
    margin: .2rem;
    padding: 1rem;
    color: white;
    background-color: #37aeab;
    font-size: 22px;
    font-weight: 600;
    border-radius: 7px;
}

.button--gray {
    color: gray;
}

#root {
    background-color: #231f42;
    width: 414px;
    padding: 2rem;
    min-height: 700px;
}